<div class="card">
  <div class="card-header">Order Detail</div>
  <div class="card-body">
    <p><b>Order Date: </b>{{ order.orderDate | date:'medium' }}</p>
    <table class="table table-bordered">
      <tbody>
        <tr *ngFor="let item of order.shoppingItem">
          <td>{{ item.product.productName }}</td>
          <td>{{ item.quantity}}</td>
          <td>{{ item.price | currency}}</td>
        </tr>
        <tr>
          <td><b>Subtotal</b></td>
          <td></td>
          <td><b>{{ order.orderTotal | currency }}</b></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Continue Shopping</button>
  </div>
</div>
