<div class="card">
  <div class="card-header">Cart Summary</div>
  <div class="card-body">
    <div *ngIf="!isOrderCreated && !items.length">
      <h5 style="margin-bottom: 20px;">Your cart is empty!</h5>
    </div>
    <ng-container *ngIf="(shoppingItems$ | async).length">
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let item of shoppingItems$ | async">
            <td>{{ item.product.productName }}</td>
            <td>
              <select (change)="onQuantityChange(item)" [(ngModel)]="item.quantity">
                <option [value]="quantity" *ngFor="let quantity of quantities">{{ quantity }}</option>
              </select>
            </td>
            <td>{{ item.price | currency}}</td>
            <td><a style="cursor: pointer;" (click)="removeItemFromCart(item.id)" title="Remove"><i class="fa fa-times" aria-hidden="true" style="color: red;"></i></a></td>
          </tr>
          <tr>
            <td><b>Subtotal</b></td>
            <td></td>
            <td><b>{{ cartSubtotal | currency }}</b></td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <button type="button" class="btn btn-primary" routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Continue Shopping</button>
    <button type="button" class="btn btn-success" (click)="proceedToCheckout()" *ngIf="(shoppingItems$ | async).length">Proceed Checkout</button>
  </div>
</div>
