<div class="card">
  <div class="card-header">Products</div>
  <div class="card-body">
    <div class="card-columns">
      <div *ngFor="let product of products">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ product.productName }}</h5>
            <p>Price: {{ product.productPrice | currency}}</p>
            <button type="button" class="btn btn-info btn-sm" (click)="addToCart(product)">Add to Cart <i class="fa fa-shopping-cart"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
